body {
  font-family: "Arial", sans-serif;
  background-color: black;
  font-family: "Arial Black",sans-serif;
  font-size: 10px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70rem;
  margin: auto;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

span {
  font-size: 3rem;
}

header {
  width: 100%;
}

header img {
  height: auto;
  max-width: 532px;
}

.dicebox {
  margin: 2rem;
  height: 20rem;
  width: 20rem;
  border-radius: 1rem;
  background-color: rgb(181, 230, 29);
  background-image: url("../images/repran-logo-eye-trans.png");
  background-size: contain;
  font-size: 2rem;
  
  background-repeat: no-repeat;
}

.dicebox span {
  color: rgb(255, 255, 255);
}

.customize-button {
  margin: 2rem;
  max-height: 5rem;
  max-width: 20rem;
  border-radius: 1rem;
  background-color: rgb(0,162,232);
}

.customize-button:hover {
  .customize-menu {
    display: block;
  }
}

.customize-button span {
  color: rgb(255, 255, 255);
}

.customize-menu {
  display: none;
}

.custom-category {
  margin: 2rem;
  max-height: 5rem;
  max-width: 20rem;
  border-radius: 1rem;
  background-color: rgb(34,177,76);
}

.custom-category span {
  color: rgb(255, 255, 255);
}

.custom-options {
  margin: 2rem;
  height: auto;
  max-width: 20rem;
  border-radius: 1rem;
  background-color: rgb(181, 230, 29);
}

.custom-options p {
  margin: 1rem;
  font-size: 1rem;
  font-color: rgb(0, 0, 0);
}


/* New stuff added for sliders*/

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
