body {
  font-family: "Arial", sans-serif;
  background-color: black;
  font-family: "Arial Black",sans-serif;
  font-size: 10px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70rem;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

span {
  font-size: 3rem;
}

header {
  width: 100%;
}

header img {
  height: auto;
  max-width: 532px;
}

.dicebox {
  margin: 2rem;
  height: 20rem;
  width: 20rem;
  border-radius: 1rem;
  background-color: rgb(181, 230, 29);
}

.dicebox span {
  color: rgb(255, 255, 255);
}

.customize-button {
  margin: 2rem;
  max-height: 5rem;
  max-width: 20rem;
  border-radius: 1rem;
  background-color: rgb(0,162,232);
}

.customize-button span {
  color: rgb(255, 255, 255);
}

.custom-category {
  margin: 2rem;
  max-height: 5rem;
  max-width: 20rem;
  border-radius: 1rem;
  background-color: rgb(34,177,76);
}

.custom-category span {
  color: rgb(255, 255, 255);
}

.custom-options {
  margin: 2rem;
  height: auto;
  max-width: 20rem;
  border-radius: 1rem;
  background-color: rgb(181, 230, 29);
}

.custom-options p {
  margin: 1rem;
  font-size: 1rem;
  font-color: rgb(0, 0, 0);
}
